*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore dataset files
# Ignore EgoHands dataset and other large datasets
data/egoHands/
data/open_images_subset/
data/ContextAct @ A4H Dataset/

# Ignore zip, mat, log files
*.zip
*.mat
*.log
data/**/*.csv
data/**/*.log

# Ignore Python/Colab cache and temp files
__pycache__/
*.pyc
*.ipynb_checkpoints/
.DS_Store

# Ignore large bounding box annotation files
*oidv6-train-annotations-bbox.csv




