*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore dataset files
data/**/*.csv
data/**/*.log
*.zip

# Ignore EgoHands full download
data/egohands_data/

# Ignore OpenImages subset if downloaded
data/open_images_subset/
