*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore dataset files
# Ignore large datasets
data/**/*.csv
data/**/*.log
*.zip

# Specifically ignore OpenImages and ContextAct sensors
data/open_images_subset/
data/ContextAct @ A4H Dataset/Sensor measurements/

